<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message Board</title>
</head>
<body>
    <h1>The Dojo Message Board</h1>
    <form action="/message" method="post">
        Name:
        <br>
        <input type="text" name="name">
        <br>
        Message:
        <br>
        <textarea name="message" cols="30" rows="10"></textarea>
        <br>
        <input type="submit" value="Post message">
    </form>

    <% for (var message in messages) { %>
        <p>Name: <%= message.name %></p>
        <p>Message: <%= message.message %></p>
        <% for (var comment in message) { %>
            <p>Name: <%= comment.name %></p>
            <p>Comment: <%= comment.comment %></p>
        <% } %>
        <form action="/comment" method="post">
            Name:
            <br>
            <input type="text" name="name">
            <br>
            Comment:
            <br>
            <textarea name="comment" cols="30" rows="10"></textarea>
            <br>
            <input type="hidden" name="message_id" value="<%= message.id %>">
            <input type="submit" value="Post comment">
        </form>
    <% } %>
</body>
</html>